@import url("navigation.css");

.quote{
    font-weight: bold;
    font-size: xx-large;
    color: #feffff;
    font-weight: lighter;
    letter-spacing: 5px;
    line-height: 40px;
    background: linear-gradient( rgba(39,32,55,0),rgba(22,40,68,0.8));
    user-select: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 15px 30px;
}
.tiles{
    float: left;
    padding: 0px 10px;
    width: 6.2cm;
    color:#feffff;
    font-size: 11px;
    line-height: 1.5;
}
.tiles a{
    color: #87b5d0;
    font-weight: 900;
}
.article-inner-area img{
    height: 2.75cm;
    width: 6.2cm;
}
