@import url("navigation.css");

.flex-container{
    display: inline-flex;
}
.img-tile{
    width: 7.3cm;
    color:#feffff;
    font-size: 11px;
    line-height: 1.5;
    padding: 0px 10px;
}
.text-tile{
    line-height: 20px;
    max-width: 11.8cm;
    min-width: 6.2cm;
    font-size: 13px;
    line-height: 18px;
    color:#feffff;
    padding: 0px 10px;
}
.text-tile b{
    color: #cee3f7;
    font-size: large;
}
.img-tile a,.text-tile a{
    color: #c7cfec;
}
.text-tile section{
    padding: 10px 18px;
    background-color: #10223a;
    border: 1px solid #10223a;
    border-bottom-color: #495a6d;
    line-height: 12px;
    border-top-color: #495a6d;
}
section button{
    color: #e9fbfc;
    border-color: #2e5d75;
    border-radius: 3px;
    background-image: linear-gradient(#1c576d, #05283e);
}